
<div id = "header" class = " panel container-fluid" >
	<div class = "container"  ng-class="adduser" ng-hide="chhpassword">
		<div class = "col-md-12" >
			<form name = "ChangePassForm" class="form-horizontal col-md-offset-2 center col-md-8" role = "form">
				<div class="row">&nbsp;</div><div class="row">&nbsp;</div>
				<div class = "panel panel-default">
					<div class = "panel-heading col-md-12">
						<span class="glyphicon glyphicon-info-sign"></span><span>&nbsp;</span>
						<strong>Change Password</strong>
						<img src="Images/loading.gif" class="pull-right" ng-show="loading" height="20px" width="20px">
						<span class="pull-right label label-success">{{ insertmsg }}</span>
						<span class="label label-warning pull-right">{{errormsg}}</span>
					</div>
					<div class = "panel-body">
						<div class = "row">&nbsp;<BR></div>
						<div class="form-group form-group-sm">
							<label for="password" class="control-label col-sm-4" >Old Password</label>
							<div class="col-sm-8">
								
								<input id="oldPass" type="password" ng-model="ChkPassword.OldPassword"  class="form-control input-sm" placeholder="Enter Old Password" tabindex="1"  autofocus required/>
								
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label for="password" class="control-label col-sm-4 " >New Password
							 <span class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#myModal" aria-hidden="true"></span>
							</label>
							<div id="myModal" class="modal fade" role="dialog">
								<div class="modal-dialog">
								<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Password required</h4>
										</div>
										<div class="modal-body">
										<p>Password should be at least 8 characters.<br>
										Enter atleast one lowercase letter,one uppercase letter and one digit.</br>
										Old Password can not be same as New Password.</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										</div>
									</div>

								</div>
							</div>
							<div class="col-sm-8">
								<input id="newPass" type="password" name="password" ng-model="ChkPassword.NewPassword" class="form-control input-sm" ng-minlength="8"  ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$/" placeholder="Enter New Password" tabindex="2"  
									 required>
								<span class="label label-info" ng-show="ChangePassForm.password.$dirty && ChangePassForm.password.$error.minlength">Password should be at least 8 characters.</span>
								<span class="label label-info" ng-show="ChangePassForm.password.$error.pattern">Enter atleast one lowercase letter,one uppercase letter,one digit</span>
								<span class=" label label-danger">{{newpassworderr1}}</span>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label for="password" class="control-label col-sm-4 ">Confirm New Password</label>
							<div class="col-sm-8">
								<input id="newCrmPass" type="password" name= "" ng-model="ChkPassword.ConfirmPass" class="form-control input-sm" placeholder="Re-Enter the new password for confirmation" tabindex="3" required/>
									<span class="label label-danger" ng-show="ChkPassword.ConfirmPass != ChkPassword.NewPassword"> Password does not match.</span>
							</div>
						</div>
					</div>
					<div class="form-group text-center" >
						<button type="button" class="btn btn-primary" ng-disabled="ChangePassForm.$invalid" ng-click="ChangeUserPassword(ChkPassword)" tabindex="3"><b>Save</b></button>
						<button type="button" class="btn btn-default" ng-click="closeChagePassword()" tabindex="3"><b>Close</b></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>	





