<form method="POST" action="#" name="ElementForm">
<div id = "header" class=" panel container-fluid" ng-init="page = 'clientRep'">
	<div class="container">
		
		<div class="col-md-6 col-md-offset-3" style="margin-top:2%;" ng-show="AddElementPanel">
			<div class="panel panel-default">
				<div class="panel-heading col-md-12">
					<span class=""></span>
					<strong>Add Element</strong>
					<div class="pull-right col-md-1">
						<button type="button" ng-hide="addBtn" class="btn btn-xs btn-default" tabindex="5" ng-click="goElementList();"><strong>Back</strong></button>
					</div>
					<span><img src="Images/loading.gif" class="pull-right" ng-show="loading" height="20px" width="20px"></span>
					<label class="label label-warning">{{errormsg1}}</label>
					<label class="label label-primary">{{ElementTypeError}}</label>
				</div>
				<div class="panel-body">
					<div class="col-md-12">&nbsp;</div>
					<div class="col-md-10 col-md-offset-1">
						<div class="form-group col-xs-12">
							<label for="Employees" class = "col-md-5"><strong>Element </strong></label>
							<input type = "text" ng-model="Element.elementDesc" class="col-md-7 input-sm" tabindex="1" required autofocus/>
						</div>
						<div class="form-group col-xs-12">
							<label for="Employees" class = "col-md-5"><strong>Select Element Type</strong></label>
							<select class = "col-md-7 input-sm" ng-model="Element.elementType"
								ng-options="eleType.elementType for eleType in ElementTypeDtls" tabindex="2" required>
								<option value = "">Select</option>
							</select>
						</div>
						<div class="col-md-12">&nbsp;</div>
						<div class="col-md-offset-3 col-xs-offset-4 col-md-8 col-xs-4 text-center">
							<button type="button" class="btn btn-primary btn-sm" ng-click="saveElement(Element);" tabindex="3" ng-disabled="ElementForm.$invalid">Save</button>
							<button type="button" class="btn btn-default btn-sm" tabindex="4" ng-click="goElementList();">cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">&nbsp;</div>
		<div class="col-md-8 col-md-offset-2"><!--  ng-show="ElementListPanel" -->
			<div class="panel panel-default">
				<div class="panel-heading col-md-12">
					<span class="col-md-3"><strong >Element List</strong></span>
					<div class="input-group pull-right col-md-2">
						<span class="input-group-btn">
							<button type="button" class="btn btn-sm btn-primary" tabindex="1" ng-click="goElement()"><strong>Add Element</strong></button>
						</span>
					</div>
					<span><img src="Images/loading.gif" class="pull-right" ng-show="loading" height="20px" width="20px"></span>
					<label class="label label-primary">{{ElementListError}}</label>
					<label class="label label-success">{{insertmsg1}}</label>
					
				</div>
				<div class="panel-body scrollBar1">
						<table class="table table-fixed">
							  <thead>
								<tr>
									<th class= "col-xs-6">Id Element</th>
									<th class= "col-xs-6">Element Desc</th>
								</tr>
							  </thead>
							  <tbody>
									<tr ng-repeat="element in ElementListDtls">
									<td class= "col-xs-6">{{element.idElement}}</td>
									<td class= "col-xs-6">{{element.elementDesc}}</td>
							</tr>
							  </tbody>
						</table>
				</div>
			</div>
		</div>
	</div>
</div>
</form>